.container {
    height: 100%;
    /* width: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    float: center;
    /* margin-top: 200px; */
  }
.albumBox {
    height: 76px;
    width: 76px;
    margin: 2px;
    float: left;
    background-color: aquamarine;
}
.emptyBox {
    height: 76px;
    width: 76px;
    margin: 2px;
    float: left;
    background-color: lightgray;
}
.albumsContainer {
    width: 800px;
    height: 720px;
    padding: 10px;
    float: right;
    /* float: left; */
}
.sliderContainer {
    width: 600px;
    margin-right: 20px;
    float: right;
    /* float: left; */
}
.caption {
    height: 100px;
}
.yearEntry {
    width: 76px;
    height: 96px;
    margin: 2px;
    float: left;
}

.btn {
    background-color: transparent;
    border: 0px;
    float: left;
}

.albumImg {
    width: 76px;
    height: 76px;
}

.yearTag {
    float: left;
    padding-left: 4px;
    font-size: small;
}

.yearDelete {
    width: 15px;
    height: 15px;
    padding-right: 2px;
    color: red;
    float: left;
    z-index: 10;
}

.iconTagDel {
    color: red;
    float: left;
    padding-left: 2px;
}

.iconTagBr {
    float: left;
    padding-left: 2px;
}

.yearBrowse {
    width: 15px;
    height: 15px;
    padding-right: 2px;
    /* color: black; */
    float: left;
}

.clearButton {
    background-color: red;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: darkred
}

.downloadBtn {
    background-color: yellow;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    padding: 4px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: darkorange
}

.grid {
    float: right;
    overflow-x: hidden;
}

.listAlbums {
    text-decoration: none;
    color: black;
    /* float: left; */
}

.list {
    float: left;
}